body{
    /* background-color: rgb(154, 163, 158); */
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, sans-serif;
    margin: auto;
}

#title{
    color: rgb(58, 52, 55);
    text-align: center;
    font-size: 52px;
    background-color: rgba(253, 253, 251, 0.733);
    width: 50%;
    margin: 50px auto;
    border-radius: 10px;
}

#level-head{
    color: rgb(236, 22, 147);
    text-align: center;
    font-size: 30px;
    background-color: rgba(253, 253, 251, 0.733);
    width: 25%;
    margin: 20px auto 30px auto;
    border-radius: 10px;
}

.home-content{
    display: grid;
    width: 50%;
    background-color: rgba(255, 253, 253, 0.644);
    border:rgb(78, 76, 76) solid 2px;
    border-radius: 15px;
    margin: auto;
}

.home-container{
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.headlines{
    color: rgb(39, 10, 167);
}

#rules{
    font-size: 22px;
    font-family: sans-serif;
    line-height: 35px;
    padding: 0 30px;
    text-align: justify;
    text-justify: inter-word;
}

.home-btns button{
    width: 100px;
    padding: 5px;
    /* margin-bottom: 10px; */
    border-radius: 13px;
    font-size: 18px;
}

.whole-page{
    display: grid;
    grid-template-columns: 80% 20%;
    
}

.container{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(9, 45px);
    grid-template-rows: repeat(9, 45px);
    justify-content: center;
    align-content: center;
    /* margin-top: 0%; */
}

.container input{
    text-align: center;
    font-weight: bold;
    background-color: whitesmoke;  
    font-size: 24px;
}

.border-all, .border-bottom, .border-top, .border-right, .border-left{
    border: black solid thin;
}

.border-top{
    border-top: black solid thick;
}

.border-bottom{
    border-bottom: black solid thick;
}

.border-left{
    border-left: black solid thick;
}

.border-right{
    border-right: black solid thick;
}

#home{
    border-style: none;
    margin: 30px auto;
    display: grid;
    justify-items: center;
    font-size: 22px;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 10px;
}

.submit_reset{
    width: 100vw;
    display:grid;
    grid-template-columns: repeat(3, 143px);
    justify-content: center;
    align-items: center;
}

#check_btn, #reset_btn, #hint_btn{
    font-weight: bold;
    font-size: 20px;
    color: rgb(24, 23, 23);
    background-color: rgb(158, 153, 153);
    border-radius: 15px;
    border: rgb(5, 5, 5) solid;
    padding: 10px 0;
    margin: 20px 12px;
}

/* .timer{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 10%;
} */



aside {
    /* width: 50%; */
    padding-right: 15px;
    margin-right: 200px;
    margin-top: 30px;
    /* display: grid; */
    /* font-style: italic;
    background-color: lightgray; */
  }

.timer h3{
    font-size: 24px;
    /* margin-bottom: 0%; */
}

.start-pause-btns{
    display: flex;
    flex-direction: row;
}

#start{
    margin-right: 10px;
}